<!DOCTYPE html>
<html>
  <head>
    <title>RolifyTutorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  		<%= link_to "sign out", destroy_user_session_path if user_signed_in? %> | 
  		<%= link_to "index", root_path %>
      <%= link_to "forums", forums_path %>
    <%= yield %>
  </body>
</html>
